[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/{{ app_dir }}
Environment="PATH=/var/www/{{ app_dir }}/venv/bin"
ExecStart=/var/www/{{ app_dir }}/venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app
[Install]
WantedBy=multi-user.target

